body{
    overflow-x: auto; 
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.EntradasDoUsuario {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around; 
    background-color: #e2e2e2dc; 
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.tituloNivel, .tituloCriacaoProcesso, .tituloProcessoAleatorio, .tituloIniciar{
    color:rgb(0, 0, 0); 
    margin:5px;
}

.criacaoNiveis, .criacaoProcesso, .processoAleatorio, .iniciaProcessamento{
    background-color: #ffffffdc;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0px;
    padding: 10px;
    border-radius: 10px;
}

.informacao{
    font-size: 12px;
}

.botaoSimples{
    background-color: #1d86ffdc;
    color:rgb(255, 255, 255);
    border-radius: 10px; 
    border: none; 
    outline: none;
    padding: 10px 20px; 
    cursor: pointer;
    margin: 5px;
}

.botaoInicia{
    background-color: #3c9b16;
    color:white;
    border-radius: 10px; 
    border: none; 
    outline: none;
    padding: 10px 20px; 
    cursor: pointer;
    margin: 5px;
}

.botaoPara{
    background-color: #ff0000;
    color:white;
    border-radius: 10px; 
    border: none; 
    outline: none;
    padding: 10px 20px; 
    cursor: pointer;
    margin: 5px;
}

.botaoLimpa{
    background-color: #006eff;
    color:white;
    border-radius: 10px; 
    border: none; 
    outline: none;
    padding: 10px 20px; 
    cursor: pointer;
    margin: 5px;
}

.botaoInicia.disabled, .botaoPara.disabled, .botaoLimpa.disabled, .botaoSimples.disabled{
    background-color: gray; 
    color: lightgray; 
    cursor: not-allowed; 
}

.niveis{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    color: rgb(0, 0, 0);
    gap: 10px;
}

.nivel{
    justify-content: flex-start; 
    color: rgb(0, 0, 0);
    gap: 10px;
}

.Saida{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around; 
    background-color: #e2e2e2dc; 
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.titulo{
    color: black;
    font-size: 20px;
    margin: 20px;
} 

.texto{
    margin: 20px;
    color: black;
    font-size: 10px;
}

h1, p, h2, h3{
    margin: 5px;
    color: rgb(0, 0, 0);
}

.processo {
    color: rgb(0, 0, 0);
    border-radius: 10px; 
    border: none;
    padding: 10px;
    margin: 5px;
}

input{
    border: none;
    padding: 5px; 
    border-radius: 4px; 
    font-size: 12px; 
    margin: 5px;
    background-color:  #e2e2e2dc;
}

.Checkbox{
    width: 30px; 
    height: 30px; 
    background-color: white; 
    cursor: pointer; 
    outline: none; 
}

.linhaDoTempo, .processoExecutando, .NiveisPrioridade{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.utProcesso {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    align-items: center; 
}